@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row defaultClass">
    <div class="col-5">
        <p class="name text-light">Brian Pedersen</p>
    </div>
    <div class="row-cols-2">
        <p class="positionWork text-light">Full Stack Developer</p>
    </div>
    <div class=" text-light">
        <p>I'm studying Data Technician with specialization in programming since 2021. 
            I do my internship at school and normaly I use C#, HTML, Bootstrap and SQL because we work most with websites.
            I have passed the H3 subject so far.</p>
    </div>
</div>
<div class="btnRedirect text-center">
    <a href="/Projects" class="text-decoration-none text-light"> Projects </a>
</div>


<div class="d-flex justify-content-around flex-wrap p-3">
    @foreach (var items in Model.Portfolios)
    {
        <div class="card myCardIndex" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">@items.Title</h5>
                <hr>
                @foreach (var skill in items.Skills)
                {
                    <div class="row">
                        <div class="col-2">
                            <img src="@skill.Icon" height="40">
                        </div>
                        <div class="col-10 mt-1">
                            <p>@skill.Name</p>
                        </div>
                        
                    </div>
                }
                
            </div>
        </div>
    }
</div>