@page
@model CurriculumVitae.Pages.SkillsModel
@{
}


<div class="textSkillsBox w-100">
    <p class="textSkills text-light">
        I have work almost 3 years with C#, SQL and FrontEnd on my daily routine.
        I really enjoy backend because my ability to be creative with designs is not so good but I still enjoy doing it.
        Normally I try to learn how to use differents lenguages so I can expand my knowledge that why right now I trying to learn Python and React.
        If you are interested on what you see, I invite you to see how my code looks on my <a href="/Projects" class="text-decoration-none">projects</a>.
    </p>
</div>

<div class="skillsBox row p-3 ">
    @foreach (var items in Model.Portfolios)
    {
        <div class="col-lg-3 gy-3">
            <div class="card myCardSkills h-100 ">
                <div class="card-body">
                    <h5 class="card-title text-center">@items.Title</h5>
                    <hr>
                    @foreach (var skill in items.Skills)
                    {
                        <div class="row">
                            <div class="col-2">
                                <img src="@skill.Icon" height="40">
                            </div>
                            <div class="col-10 mt-1">
                                <p>@skill.Name</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>
